In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv('/content/HeartAttack.csv', na_values= '?')

In [ ]:
df.head()

   age  sex  cp  trestbps   chol  ...  oldpeak  slope  ca  thal  num
0   28    1   2     130.0  132.0  ...      0.0    NaN NaN   NaN           0
1   29    1   2     120.0  243.0  ...      0.0    NaN NaN   NaN           0
2   29    1   2     140.0    NaN  ...      0.0    NaN NaN   NaN           0
3   30    0   1     170.0  237.0  ...      0.0    NaN NaN   6.0           0
4   31    0   2     100.0  219.0  ...      0.0    NaN NaN   NaN           0

[5 rows x 14 columns]

In [ ]:
df.isnull().sum()

age             0
sex             0
cp              0
trestbps        1
chol           23
fbs             8
restecg         1
thalach         1
exang           1
oldpeak         0
slope         190
ca            291
thal          266
num             0
dtype: int64

In [ ]:
df.drop(['slope','ca','thal'], axis=1, inplace= True)

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.isnull().sum()

age           0
sex           0
cp            0
trestbps      0
chol          0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
num           0
dtype: int64

In [ ]:
df.head()

   age  sex  cp  trestbps   chol  ...  restecg  thalach  exang  oldpeak  num
0   28    1   2     130.0  132.0  ...      2.0    185.0    0.0      0.0           0
1   29    1   2     120.0  243.0  ...      0.0    160.0    0.0      0.0           0
3   30    0   1     170.0  237.0  ...      1.0    170.0    0.0      0.0           0
4   31    0   2     100.0  219.0  ...      1.0    150.0    0.0      0.0           0
5   32    0   2     105.0  198.0  ...      0.0    165.0    0.0      0.0           0

[5 rows x 11 columns]

In [ ]:
df = pd.get_dummies(df, columns= ['cp', 'restecg'])

In [ ]:
df.head()

   age  sex  trestbps   chol  ...  cp_4  restecg_0.0  restecg_1.0  restecg_2.0
0   28    1     130.0  132.0  ...     0            0            0            1
1   29    1     120.0  243.0  ...     0            1            0            0
3   30    0     170.0  237.0  ...     0            0            1            0
4   31    0     100.0  219.0  ...     0            0            1            0
5   32    0     105.0  198.0  ...     0            1            0            0

[5 rows x 16 columns]

In [ ]:
sc = StandardScaler()

In [ ]:
va = ['trestbps','chol','thalach','oldpeak']

In [ ]:
df[va] = sc.fit_transform(df[va])

In [ ]:
df

     age  sex  trestbps      chol  ...  cp_4  restecg_0.0  restecg_1.0  restecg_2.0
0     28    1 -0.149347 -1.782424  ...     0            0            0            1
1     29    1 -0.715089 -0.088855  ...     0            1            0            0
3     30    0  2.113621 -0.180399  ...     0            0            1            0
4     31    0 -1.846574 -0.455032  ...     0            0            1            0
5     32    0 -1.563703 -0.775437  ...     0            1            0            0
..   ...  ...       ...       ...  ...   ...          ...          ...          ...
289   52    1  1.547879  1.253794  ...     1            1            0            0
290   54    0 -0.149347  0.689271  ...     0            0            1            0
291   56    1  1.265008  1.421625  ...     1            1            0            0
292   58    0  2.679363  2.199751  ...     0            1            0            0
293   65    1 -0.149347  0.399381  ...     1            0            1            0

[261 rows x 16 columns]

In [ ]:
df.columns

Index(['age', 'sex', 'trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak',
       'num       ', 'cp_1', 'cp_2', 'cp_3', 'cp_4', 'restecg_0.0',
       'restecg_1.0', 'restecg_2.0'],
      dtype='object')

In [ ]:
df['target'] = df['num       ']

In [ ]:
df.head()

   age  sex  trestbps      chol  ...  restecg_0.0  restecg_1.0  restecg_2.0  target
0   28    1 -0.149347 -1.782424  ...            0            0            1       0
1   29    1 -0.715089 -0.088855  ...            1            0            0       0
3   30    0  2.113621 -0.180399  ...            0            1            0       0
4   31    0 -1.846574 -0.455032  ...            0            1            0       0
5   32    0 -1.563703 -0.775437  ...            1            0            0       0

[5 rows x 17 columns]

In [ ]:
df.drop('num       ', axis=1, inplace= True)

In [ ]:
df.head()

   age  sex  trestbps      chol  ...  restecg_0.0  restecg_1.0  restecg_2.0  target
0   28    1 -0.149347 -1.782424  ...            0            0            1       0
1   29    1 -0.715089 -0.088855  ...            1            0            0       0
3   30    0  2.113621 -0.180399  ...            0            1            0       0
4   31    0 -1.846574 -0.455032  ...            0            1            0       0
5   32    0 -1.563703 -0.775437  ...            1            0            0       0

[5 rows x 16 columns]

In [ ]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3)

In [ ]:
lm = LogisticRegression()

In [ ]:
lm.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
pred = lm.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion_matrix(y_test,pred)

array([[48,  3],
       [ 9, 19]])

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test, pred)

0.8481012658227848

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test, pred)

0.1518987341772152